# CDS generated models
@cds-models

# Dependencies
node_modules/

# Environment & secrets
.env
.env.*
*.pem
credentials.json

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs & temp
*.log
gen/
# added by cds
.cdsrc-private.json

# CF CLI
cf-cli.tgz
cf@mta_archives/
