# CDS generated models
@cds-models

# Dependencies
node_modules/

# Environment & secrets
.env
.env.*
*.pem
credentials.json

# OS / editor
.DS_Store
.amazonq/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs & temp
*.log
coverage/
gen/
# added by cds
.cdsrc-private.json

# CF CLI
cf
cf8
cf-cli.tgz

# MTA build artifacts
mta_archives/
*.mtar
